:root
{
    --font-principal: 'Kumbh Sans', sans-serif;
    --color-principal: hsl(0, 0%, 18%);
}

body
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    font-family: var(--font-principal);
    color: var(--color-principal);
    font-size: 18px;
}

#card
{
    min-width: 300px;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    background-clip: content-box;
}

#card-pattern
{
    background: url('images/bg-pattern-card.svg');
    border-radius: 20px 20px 0px 0px;
    height: 150px;


}

#card-pattern > img
{
    border-radius: 100px;
    border: 5px solid white;
    position: relative;
    bottom: -70%;
    left: 50%;
    transform: translate(-50%,0%);
}

#card-info
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 130px;
    flex-direction: column;
    border-bottom: .5px solid rgba(128, 128, 128, 0.425);
    padding-bottom: 30px;
}

#card-info-name
{
    display: flex;
    align-items: center;

}

#card-info-name > h1
{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}

#card-info-name > h1 > span
{
    color: gray;
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 7px;

}

#card-info-city
{
    color:gray;
    font-weight: 400;
    font-size: 14px;
}


#card-social
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#card-social div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-social-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
}

.card-social-info p
{
    margin: 0px;
    margin-bottom: 10px;
}